/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}

/* og látum erfast á allt */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Almennt */

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
}

/** „Til baka á forsíðu“ hlekkur **/
.back {
  margin-top: var(--spacing);
}

/* Fade in animation */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Til að transition sé ekki frá hvítum */
html {
  background-color: var(--color-background-primary);
}

header,
.wrapper {
  animation: var(--transition-time-long) var(--transition-timing-function)
    fade-in;
}

/**
     * Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
     * Við förum yfir flexbox í viku 4 en þangað til er hægt að nota þetta
     * sem grunn og án breytinga.
     * Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
     * innan <body>.
     */
