/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}
/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Almennt */

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
}

/** „Til baka á forsíðu“ hlekkur **/
.back {
  margin-top: var(--spacing);
}

/* Fade in animation */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Til að transition sé ekki frá hvítum */
html {
  background-color: var(--color-background-primary);
}

header,
.wrapper {
  animation: var(--transition-time-long) var(--transition-timing-function)
    fade-in;
}

/**
   * Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
   * Við förum yfir flexbox í viku 4 en þangað til er hægt að nota þetta
   * sem grunn og án breytinga.
   * Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
   * innan <body>.
   */
.wrapper {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;

  /* grid items eru miðjuð */
  justify-items: center;

  gap: var(--vertical-space);

  width: 100%;
  min-height: 100vh;

  background-color: var(--color-background-primary);
}

@media (min-width: 800px) {
  .wrapper {
    gap: var(--vertical-space-large);
  }
}

.wrapper .wrapper-content {
  width: var(--width-offset);
  max-width: var(--max-width);
}

.wrapper .wrapper-nav {
  margin-bottom: var(--spacing);
}

@media (min-width: 800px) {
  .wrapper .wrapper-content {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gutter);
  }

  .wrapper .wrapper-nav {
    grid-column: span 2;
  }

  .wrapper .wrapper-main {
    grid-column: span 10;
  }
}

/* Það sem fylgir er tillaga að uppbyggingu á selectorum fyrir verkefnið */


